body {
  background-color: #f7e48d;
}

h1 {
  text-align: center;
  font-family: monospace;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}

.intro img {
  display: block;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
}

p {
  display: block;
  font-family: monospace;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  text-align: center;
  font-family: monospace;
  width: 347px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
  font-family: monospace;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
}

.quiz {
  text-align: center;
  display: block;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
  border: solid 5px black;
  box-sizing: border-box;
  background-color: aquamarine;
}

.quiz img {
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

button {
  font-size: 40px;
  font-family: monospace;
}

#joke input {
  width: 300px;
  height: 300px;
}

.results img {
  display: block;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

.question {
  border: solid 2px black;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #f7e48d;
}

.results {
  margin-top: 10px;
  padding-top: 10px;
  border: solid 5px black;
  box-sizing: border-box;
  background-color: aquamarine;
  display: block;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
}