body {
  background-color: #f7e48d;
}

h1 {
  text-align: center;
  font-family:monospace;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}

img {
  display: block;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
}

p {
  display: block;
  font-family: monospace;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  text-align: center;
  font-family:monospace;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
}